<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}"><img class="align-text-top logo" src="{{ 'assets/images/s1.png' | relative_url }}">{{ site.title | upcase }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-stretch" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.menu %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title | upcase }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
